<!DOCTYPE html>
<html>
  <head>
    <title>rafla</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/rafla.css">
    <link rel="stylesheet" href="/styles/stylish-portfolio.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/OpenLayers-2.13.1/OpenLayers.debug.js"></script>
    <script src="/js/OpenLayers-2.13.1/OpenLayers.js"></script>
    <script src="/js/OpenLayers-2.13.1/OpenLayers.light.debug.js"></script>
    <script src="/js/OpenLayers-2.13.1/OpenLayers.light.js"></script>
    <script src="/js/OpenLayers-2.13.1/OpenLayers.mobile.debug.js"></script>
    <script src="/js/OpenLayers-2.13.1/OpenLayers.mobile.js"></script>
    <script src="/js/OpenLayers-2.13.1/build/closure-compiler/Externs.js"></script>
    <script src="/js/OpenLayers-2.13.1/doc/apidocs/javascript/main.js"></script>
    <script src="/js/OpenLayers-2.13.1/doc/apidocs/javascript/prettify.js"></script>
    <script src="/js/OpenLayers-2.13.1/doc/apidocs/javascript/searchdata.js"></script>
    <script src="/js/OpenLayers-2.13.1/doc/devdocs/javascript/main.js"></script>
    <script src="/js/OpenLayers-2.13.1/doc/devdocs/javascript/prettify.js"></script>
    <script src="/js/OpenLayers-2.13.1/doc/devdocs/javascript/searchdata.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/Jugl.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/accessible-click-control.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/accessible-panel.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/all-overlays-google.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/anchor-permalink.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/animator.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/bing-tiles-restrictedzoom.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/bing-tiles.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/bootstrap.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/browser.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/cache-read.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/cache-write.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/canvas-hit-detection.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/canvas-inspector.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/canvas.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/clientzoom.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/cql-format.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/cross-origin-xml.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/cross-origin.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/donut.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/draw-undo-redo.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/editing-methods.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/example-list.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/example.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/feature-events.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/filter-strategy.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/fullScreen.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/fusiontables.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/geojson-reprojected.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/geolocation.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/google-static.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/google-v3-alloverlays.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/google-v3.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/graphic-name.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/kinetic.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/kml-layer.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/kml-pointtrack.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/kml-track.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/label-scale.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/light-basic.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/mapbox.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/mapquest.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/mobile-base.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/mobile-drawing.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/mobile-jq.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/mobile-layers.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/mobile-navigation.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/mobile-sencha.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/mobile-wmts-vienna.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/mobile.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/offline-storage.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/osm-google.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/osm-marker-popup.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/point-grid.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/polar-projections.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/simplify-linestring.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/single-tile.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/sld.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/snap-grid.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/strategy-cluster-extended.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/style-rules.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/tile-origin.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/using-proj4js.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/utfgrid-geography-class.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/utfgrid.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/utfgrid_twogrids.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/web-mercator.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/wfs-filter.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/wfs-protocol-transactions.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/wfs-reprojection.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/wfs-spatial-filter.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/wfs-states.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/wms-long-url.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/wmts-capabilities.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/wmts-getfeatureinfo.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/wmts.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/wps-client.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/wps.js"></script>
    <script src="/js/OpenLayers-2.13.1/examples/zoom.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/Firebug/firebug.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/Firebug/firebugx.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Animation.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/BaseTypes.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/BaseTypes/Bounds.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/BaseTypes/Class.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/BaseTypes/Date.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/BaseTypes/Element.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/BaseTypes/LonLat.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/BaseTypes/Pixel.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/BaseTypes/Size.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Console.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/ArgParser.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/Attribution.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/Button.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/CacheRead.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/CacheWrite.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/DragFeature.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/DragPan.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/DrawFeature.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/EditingToolbar.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/Geolocate.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/GetFeature.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/Graticule.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/KeyboardDefaults.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/LayerSwitcher.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/Measure.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/ModifyFeature.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/MousePosition.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/NavToolbar.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/Navigation.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/NavigationHistory.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/OverviewMap.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/Pan.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/PanPanel.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/PanZoom.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/PanZoomBar.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/Panel.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/Permalink.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/PinchZoom.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/SLDSelect.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/Scale.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/ScaleLine.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/SelectFeature.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/Snapping.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/Split.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/TouchNavigation.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/TransformFeature.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/UTFGrid.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/WMSGetFeatureInfo.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/WMTSGetFeatureInfo.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/Zoom.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/ZoomBox.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/ZoomIn.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/ZoomOut.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/ZoomPanel.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Control/ZoomToMaxExtent.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Events.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Events/buttonclick.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Events/featureclick.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Feature.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Feature/Vector.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Filter.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Filter/Comparison.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Filter/FeatureId.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Filter/Function.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Filter/Logical.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Filter/Spatial.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/ArcXML.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/ArcXML/Features.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/Atom.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/CQL.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/CSWGetDomain.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/CSWGetDomain/v2_0_2.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/CSWGetRecords.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/CSWGetRecords/v2_0_2.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/Context.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/EncodedPolyline.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/Filter.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/Filter/v1.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/Filter/v1_0_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/Filter/v1_1_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/GML.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/GML/Base.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/GML/v2.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/GML/v3.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/GPX.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/GeoJSON.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/GeoRSS.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/JSON.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/KML.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/OGCExceptionReport.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/OSM.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/OWSCommon.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/OWSCommon/v1.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/OWSCommon/v1_0_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/OWSCommon/v1_1_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/OWSContext.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/OWSContext/v0_3_1.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/QueryStringFilter.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/SLD.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/SLD/v1.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/SLD/v1_0_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/SLD/v1_0_0_GeoServer.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/SOSCapabilities.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/SOSCapabilities/v1_0_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/SOSGetFeatureOfInterest.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/SOSGetObservation.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/Text.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WCSCapabilities.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WCSCapabilities/v1.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WCSCapabilities/v1_0_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WCSCapabilities/v1_1_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WCSGetCoverage.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WFS.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WFSCapabilities.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WFSCapabilities/v1.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WFSCapabilities/v1_0_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WFSCapabilities/v1_1_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WFSDescribeFeatureType.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WFST.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WFST/v1.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WFST/v1_0_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WFST/v1_1_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WKT.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WMC.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WMC/v1.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WMC/v1_0_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WMC/v1_1_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WMSCapabilities.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WMSCapabilities/v1.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WMSCapabilities/v1_1.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WMSCapabilities/v1_1_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WMSCapabilities/v1_1_1.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WMSCapabilities/v1_1_1_WMSC.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WMSCapabilities/v1_3.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WMSCapabilities/v1_3_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WMSDescribeLayer.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WMSDescribeLayer/v1_1.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WMSGetFeatureInfo.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WMTSCapabilities.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WMTSCapabilities/v1_0_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WPSCapabilities.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WPSCapabilities/v1_0_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WPSDescribeProcess.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/WPSExecute.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/XLS.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/XLS/v1.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/XLS/v1_1_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/XML.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Format/XML/VersionedOGC.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Geometry.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Geometry/Collection.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Geometry/Curve.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Geometry/LineString.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Geometry/LinearRing.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Geometry/MultiLineString.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Geometry/MultiPoint.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Geometry/MultiPolygon.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Geometry/Point.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Geometry/Polygon.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Handler.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Handler/Box.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Handler/Click.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Handler/Drag.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Handler/Feature.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Handler/Hover.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Handler/Keyboard.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Handler/MouseWheel.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Handler/Path.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Handler/Pinch.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Handler/Point.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Handler/Polygon.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Handler/RegularPolygon.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Icon.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Kinetic.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/ar.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/be-tarask.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/bg.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/br.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/ca.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/cs-CZ.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/da-DK.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/de.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/el.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/en-CA.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/en.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/es.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/fi.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/fr.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/fur.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/gl.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/gsw.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/hr.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/hsb.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/hu.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/ia.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/id.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/io.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/is.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/it.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/ja.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/km.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/ksh.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/lt.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/nb.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/nds.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/nl.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/nn.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/oc.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/pl.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/pt-BR.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/pt.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/ro.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/ru.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/sk.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/sv-SE.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/te.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/vi.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/zh-CN.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Lang/zh-TW.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/ArcGIS93Rest.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/ArcGISCache.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/ArcIMS.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/Bing.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/Boxes.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/EventPane.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/FixedZoomLevels.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/GeoRSS.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/Google.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/Google/v3.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/Grid.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/HTTPRequest.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/Image.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/KaMap.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/KaMapCache.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/MapGuide.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/MapServer.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/Markers.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/OSM.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/PointGrid.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/PointTrack.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/SphericalMercator.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/TMS.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/Text.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/TileCache.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/UTFGrid.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/Vector.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/Vector/RootContainer.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/WMS.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/WMTS.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/WorldWind.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/XYZ.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Layer/Zoomify.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Map.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Marker.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Marker/Box.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Popup.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Popup/Anchored.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Popup/Framed.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Popup/FramedCloud.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Projection.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Protocol.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Protocol/CSW.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Protocol/CSW/v2_0_2.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Protocol/HTTP.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Protocol/SOS.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Protocol/SOS/v1_0_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Protocol/Script.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Protocol/WFS.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Protocol/WFS/v1.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Protocol/WFS/v1_0_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Protocol/WFS/v1_1_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Renderer.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Renderer/Canvas.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Renderer/Elements.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Renderer/SVG.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Renderer/VML.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Request.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Request/XMLHttpRequest.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Rule.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/SingleFile.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Spherical.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Strategy.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Strategy/BBOX.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Strategy/Cluster.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Strategy/Filter.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Strategy/Fixed.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Strategy/Paging.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Strategy/Refresh.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Strategy/Save.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Style.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Style2.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/StyleMap.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Symbolizer.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Symbolizer/Line.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Symbolizer/Point.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Symbolizer/Polygon.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Symbolizer/Raster.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Symbolizer/Text.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Tile.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Tile/Image.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Tile/Image/IFrame.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Tile/UTFGrid.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/TileManager.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Tween.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Util.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/Util/vendorPrefix.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/WPSClient.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/OpenLayers/WPSProcess.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/Rico/Color.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/Rico/Corner.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/Rico/license.js"></script>
    <script src="/js/OpenLayers-2.13.1/lib/deprecated.js"></script>
    <script src="/js/OpenLayers-2.13.1/tests/Format/CSWGetDomain/v2_0_2.js"></script>
    <script src="/js/OpenLayers-2.13.1/tests/Format/CSWGetRecords/v2_0_2.js"></script>
    <script src="/js/OpenLayers-2.13.1/tests/Format/GML/cases.js"></script>
    <script src="/js/OpenLayers-2.13.1/tests/Format/SOSCapabilities/v1_0_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/tests/Format/WPSCapabilities/v1_0_0.js"></script>
    <script src="/js/OpenLayers-2.13.1/tests/OLLoader.js"></script>
    <script src="/js/OpenLayers-2.13.1/tests/Test.AnotherWay.baseadditions.js"></script>
    <script src="/js/OpenLayers-2.13.1/tests/Test.AnotherWay.geom_eq.js"></script>
    <script src="/js/OpenLayers-2.13.1/tests/Test.AnotherWay.js"></script>
    <script src="/js/OpenLayers-2.13.1/tests/Test.AnotherWay.xml_eq.js"></script>
    <script src="/js/OpenLayers-2.13.1/tests/Util_common.js"></script>
    <script src="/js/OpenLayers-2.13.1/tests/data/geos_wkt_intersects.js"></script>
    <script src="/js/OpenLayers-2.13.1/tests/data/osm.js"></script>
    <script src="/js/OpenLayers-2.13.1/tests/node.js"></script>
    <script src="/js/OpenLayers-2.13.1/tests/node.js/mockdom.js"></script>
    <script src="/js/OpenLayers-2.13.1/tests/node.js/node.js"></script>
    <script src="/js/OpenLayers-2.13.1/tests/node.js/run-test.js"></script>
    <script src="/js/OpenLayers-2.13.1/tests/speed/vector-renderers.js"></script>
    <script src="/js/OpenLayers-2.13.1/tests/speed/wmscaps.js"></script>
    <script src="/js/OpenLayers-2.13.1/tests/throws.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/lue_xml_data.js"></script>
    <script src="/js/lue_xml_data2.js"></script>
    <script src="/js/map.js"></script>
    <script src="/js/rafla.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
