/*Body,map: These are css selectors. Each selector refers to certain element to which the style is applied.*/
/*T채nne meid채n omat css-m채채ritykset*/

body {

}


.map {
        height: 500px;
        width: 100%;
      }
